# Image metadata

---
## 1. Getting the names of the *.isq* files in the folder:

In [3]:
folder_content = os.listdir(isq_folder)
isq_file_names = [] 
for file in folder_content: 
    filename, file_extension = os.path.splitext(isq_folder + file)
    if "isq" in file_extension or "ISQ" in file_extension:
        isq_file_names.append(file)        
print ("-> Found " + str(len(isq_file_names)) + " .isq files in folder" )

-> Found 4 .isq files in folder

---
## 2. Extracting information from image headers

In [4]:
all_keys = []
all_values = []
for i in range(0, len(isq_file_names)): 
    current_keys, current_values = scanco_read_files.read_isq_header(isq_folder + isq_file_names[i]) 
    if i == 0:
        all_keys = current_keys
    all_values.append(current_values)

--- 
## 3. Creating a metadata table

In [5]:
isq_headers = pd.DataFrame(all_values, columns = all_keys)
isq_headers.insert(0, "file_name", isq_file_names)
isq_headers = isq_headers.drop(columns = ["fill"])
isq_headers

,file_name,check,data_type,nr_of_bytes,nr_of_blocks,pat_no,scanner_id,date,n_voxels_x,n_voxels_y,...,scanner_type,exposure_time,meas_no,site,reference_line_um,recon_algo,pat_name,energy_V,intensity_uA,data_offset
0,S0006767.ISQ;1,CTDATA-HEADER_V1,3,1557138432,3041286,440,3300,2013_03_27,1536,1536,...,9,100000,1909,4,0,3,MCP_MAIN7,59400,900,5
1,S0006514.ISQ;1,CTDATA-HEADER_V1,3,1557138432,3041286,426,3300,2013_02_12,1536,1536,...,9,100000,1841,4,0,3,MCP_MAIN2,59400,900,5
2,S0006589.ISQ;1,CTDATA-HEADER_V1,3,1557138432,3041286,431,3300,2013_02_25,1536,1536,...,9,100000,1863,4,0,3,MCP_MAIN4,59400,900,5
3,S0006755.ISQ;1,CTDATA-HEADER_V1,3,1557138432,3041286,437,3300,2013_03_26,1536,1536,...,9,100000,1896,4,0,3,MCP_MAIN6,59400,900,5

---
## 4. Saving the table to a *.csv* or *.xlsx* file

In [6]:
isq_headers.to_csv("images_3300.csv", index = False)

---
## Dependencies

In [7]:
%load_ext watermark
%watermark -v -m -p pymsk,pandas

Python implementation: CPython
Python version       : 3.8.5
IPython version      : 7.22.0

pymsk : 0.1.3
pandas: 1.2.4

Compiler    : Clang 10.0.0
OS          : Darwin
Release     : 20.5.0
Machine     : x86_64
Processor   : i386
CPU cores   : 4
Architecture: 64bit